<script type="text/javascript">
  var pathPrefix = "/assets/js/axe/";
</script>

<p>These exercises make use of the open-source aXe &quot;Accessibility Engine&quot; by Deque Systems, which is available as a browser extension for the developer tools <a href="https://addons.mozilla.org/en-us/firefox/addon/axe-devtools/">in Firefox</a> and <a href="https://chrome.google.com/webstore/detail/axe/lhdoppojpmngadmnindnejefpokejbdd?hl=en-US">in Chrome</a>.</p>

<p>These exercises are NOT a comprehensive test of everything taught in this course, but they do test a few key concepts.</p>

<div id="exerciseArea">
  <h2 id="axe_header" tabindex="-1">Exercise X of Y</h2>
  <p id="instructions"><strong>Instructions:</strong> <span id="instructionText">Fix the accessibility errors in the text inputs below.</span></p>
  <div class="quizWrapper" id="quizArea">
    <div id="inputHolder">
      <div id="inputWrapper">
        <div id="sampleHTML" class="quizHalf left">
          <h3><label for="htmlINPUT">Fix the Accessibility Errors:</label></h3>
          <textarea id="htmlINPUT"></textarea>
        </div>

        <div id="renderedSample" class="quizHalf left">
          <h3>View the HTML Results:</h3>
          <iframe title="Preview HTML Results" class="render" id="renderFrame"></iframe>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div id="quizControls" class="clear">
      <button id="evaluate">I'm Done! Evaluate the Code!</button>
      <button id="goFullScreen">
        <img src="/assets/js/axe/full-screen.png" width="18" height="18" alt="full screen" />
        Full Screen
      </button>
    </div>
  </div>
</div>
<div role="dialog" id="dialogBox"></div>
<div id="detailContent">
  <div class="violationList"></div>
  <div class="violationDetail"></div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
<script src="/assets/js/axe/bundle.js" type="text/javascript"></script>