.hidden {
  display: none;
}

#exerciseArea {
  position: relative;
}

#exerciseArea h1 {
  clear: both;
  color: #00274D;
  font: 30px/40px "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  margin: 0 auto;
  text-align: center;
}

#exerciseArea h2 {
  clear: both;
  color: #225a9b;
  font: 24px/30px "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  padding: 10px;
  text-align: center;
}

#exerciseArea h3 {
  clear: both;
  padding: 4px 0 4px 4px;
  font: 20px/28px "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-weight: normal;
  color: #225a9b;
}

.quizWrapper {
  width: 100%;
  margin: 0 auto;
}

.quizHalf {
  width: 50%;
  height: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

textarea:focus,
textarea:hover,
input[type="text"]:focus,
input[type="text"]:hover,
input[type="password"]:focus,
input[type="password"]:hover {
  outline: 2px solid #8cc63f;
  background-color: #fdf6e7;
}

textarea, input[type="text"], input[type="password"], .quizHalf .render {
  border: none;
  outline: 1px solid #ccc;
  padding: 4px;
  font-size: 14px;
}


.quizHalf textarea, .quizHalf .render {
  width: 90%;
  height: 300px;
  margin: 0 auto;
}

#dialogBox {
  position: fixed;
  z-index:99999;
  top: 50px;
  left: 50px;
  right: 50px;
  border:1px solid #484848;
  border-radius:5px;
  background-color: white;
  min-height:200px;
  box-sizing:border-box;
}

#dialogBox.incorrect, #dialogBox.correct {
  right:auto;
  left:auto;
  margin-left:-250px;
  left:50%;
  top:200px;
  width:500px;
}

#dialogBox.incorrect .content,  #dialogBox.correct .content {
  padding:20px 20px 0 20px;
}

#dialogBox .buttons {
  margin-bottom:20px;
}

#detailContent {
  width: 95%;
  height: 100%;
  min-height:200px;
  max-height:500px;
  overflow-y:auto;
  margin: 10px auto;
}

button {
  padding: 2px 4px;
  border: 2px solid #d8d7d7;
  border-radius: 5px;
  background: #FDFDFD;
  display: inline-block;
  text-align: center;
  font-size: 16px;
}

button img {
  margin: 0;
  position: relative;
  top: 2px;
}

.violationList {
  float: left;
  width: 30%;
  height: 100%;
  overflow-y:auto;
  overflow-x:hidden;
}

.violationDetail {
  float: right;
  width: 65%;
  height: 100%;
}

.result.fail {
  border: 2px solid #660000;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffeeee;
}

.result.success {
  border: 2px solid #006600;
  border-radius: 5px;
  padding: 10px;
  background-color: #eeffee;
}

.screen {
  position: fixed;
  background-color: black;
  opacity: .5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* we need to get rid of the h2 reference as soon as the HTML is updated to be h1 */
#dialogBox>h1 {
  font-weight:normal;
  padding: 5px 20px;
  margin: 0;
  background-color: #484848;
  color: white;
  border-radius: 5px 5px 0 0;
}

#dialogBox .buttons {
  padding: 5px 20px;
  width: 100%;
}

.violationNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.violationNavItem {
  display: block;
  width: 99%;
  min-height: 60px;
  padding-top: 20px;
  line-height: 40px;
  background-color: #ccc;
  border: 1px solid #666;
  text-align: center;
  margin: 0 px;
  box-sizing:border-box;
}

.violationNavItem.active {
  background-color: #eee;
}

.violationNavItem span {
  margin: none;
  display: block;
  min-height: 20px;
  vertical-align: middle;
  line-height: normal;
  pointer-events: none;
}

#dialogBox .content {
  min-height:150px;
  overflow-y:auto;
  line-height:1.4em;
  box-sizing:border-b0x;
}

#dialogBox .closeButton {
  position: absolute;
  right: 20px;
  top: 7px;
  background-color: #fff;
  color:#2f2f2f;
  font-size:12px;
  font-weight:bold;
}

#content iframe.render {
  width:90% !important;
}

#dialogBox .closeButton:focus, #dialogBox .closeButton:hover , #dialogBox .closeButton:active {
  outline:none;
  border:2px solid red;
}

#dialogBox.fullscreen {
    top:0;
    left:0;
    right:0;
    margin:0;
    width:100%;
    height:100%;
    overflow-y:auto;
    overflow-x:hidden;
    border-radius:0;
  }

  #dialogBox.fullscreen .content {
    overflow-y:auto;
  }
  #dialogBox.fullscreen .quizHalf {
    width:100%;
  }
  #dialogBox.fullscreen .left {
    float:none;
  }
  #dialogBox.fullscreen .right {
    float:none;
  }
  #dialogBox.fullscreen>h1 {
    border-radius:0;
    font-size:120%;
  }
  #dialogBox.fullscreen .closeButton {
    right:5px;
  }
  #dialogBox .quizHalf textarea, .quizHalf iframe.render {
    width:98%;
    margin:auto;
    display:block;
  }

#dialogBox .quizHalf h3 {
  margin-left:8px;
}


/* MOBILE VERSION */
@media (max-width: 700px) {
  #dialogBox {
    top:0;
    left:0;
    right:0;
    margin:0;
    width:100%;
    height:100%;
    padding:0;
    overflow-y:auto;
    overflow-x:hidden;
    border-radius:0;
  }

  #dialogBox .content {
    overflow-y:auto;
  }
  .quizHalf {
    width:100%;
  }
  #dialogBox .left {
    float:none;
  }
  #dialogBox .right {
    float:none;
  }
  #dialogBox>h1 {
    border-radius:0;
    font-size:120%;
  }
  #dialogBox .closeButton {
    right:5px;
  }
}
